/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@page {
margin: 0.5cm;
}
body {width:100% !important; margin:0 !important; padding:0 !important; font-family: 'Chivo', sans-serif; line-height: 1.4; word-spacing:1.1pt; letter-spacing:0.2pt; color: #000; background: none; font-size: 11pt; }
.print, .section_title_input, .content_measure_details {display:inline}
.loader, .header, .hero_logo-flag, .content_measure_image, .options-filter-toggler, .options-filter-toggler label, .content_edit-btn, .content_measure_print, .content_measures-list, .section_title_input, .sm-box.section_dropdown {display:none}
.nav_logo-flag {text-align: center}
.nav_logo {width:3cm}
h3.nav_flag {margin:0;padding:0;text-transform: uppercase}
.hero_description {text-align: center; color:#969696!important}
.print-box {width:50%; display:inline-block;float:left;padding-bottom:30px}
.content_chosen-params p {margin:0}
.chart_wrapper {}
.chart_legend {
  /*display: inline-flex;*/
  flex-direction: column;
  width: auto;float:left;
  margin:22px 0 0;
}
.chart_canvas {}
.chart_legend_element {
  display: flex;
}
#chart_canvas {float:left}
.chart_legend_element-name {
  /*font-size: 1.4rem;*/
  margin: 0 0.5rem;
    white-space: nowrap;
}

.chart_legend_element-value {
  /*font-size: 1.3rem;*/
   margin:0;
    width:100%;
    margin-bottom:10px;
    text-align:right;
}
.color-box {width:10px;height:10px;box-sizing: border-box;}
.color-box.green {border:10px solid #29af58;}
.color-box.blue {border:10px solid #29abe2;}
.color-box.brown {border:10px solid #b27036;}
.color-box.yellow {border:10px solid #ffb831;}

.section_title {font-weight:bold;font-size:1.3em}
.species-table {margin-bottom:30px}
.month-box {border:1px solid black;width:10px;height:10px;display:block;float:left}
.species-table a:link, .species-table a:visited {text-decoration:none;color:#000}

